@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <span class="navbar-brand text-white welcome-text">Welcome, User!</span>
        <div class="ml-auto">
            <i class="fas fa-cog settings-icon">
                <a href="profile" class="stretched-link"></a>
            </i>
        </div>
    </div>
</div>
